name: "Build"

on: pull_request

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.kotlin.dsl.internal.io.timeout=120000 -Dorg.gradle.jvmargs="-Xmx5g -XX:+HeapDumpOnOutOfMemoryError -XX:+UseParallelGC -XX:MaxMetaspaceSize=1g -Dfile.encoding=UTF-8"

concurrency:
  group: pull_request-${{ github.ref }}
  cancel-in-progress: true

jobs:
  jvm_check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Build
        run: ./gradlew check

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'reports-check'
          path: '**/build/reports/**'

  ios_macos:
    runs-on: macos-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: iOS and watchOS tests
        run: ./gradlew iosSimulatorArm64Test iosX64Test macosArm64Test macosX64Test --parallel --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'reports-ios_watchos'
          path: '**/build/reports/**'

  windows:
    runs-on: windows-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Windows (MinGW-x64) tests
        run: ./gradlew mingwX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'reports-windows'
          path: '**/build/reports/**'

  js:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Upgrade yarn.lock
        run: ./gradlew kotlinUpgradeYarnLock
        continue-on-error: true

      - name: JS tests
        run: ./gradlew jsTest  --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'reports-js'
          path: '**/build/reports/**'

  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}

      - name: Linux (x64) tests
        run: ./gradlew linuxX64Test --scan

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v5
        with:
          name: 'reports-linux'
          path: '**/build/reports/**'
